.card {
  background-color: var(--mantine-color-body);
  width: 270px;
  cursor: pointer;
}

.imageSection {
  padding: var(--mantine-spacing-md);
  height: 265px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.label {
  margin-bottom: var(--mantine-spacing-xs);
  line-height: 1;
  font-weight: 700;
  font-size: var(--mantine-font-size-xs);
  letter-spacing: -0.25px;
  text-transform: uppercase;
}
.expertise{
  color: green;
  background-color: rgba(0, 194, 0, 0.123);
  border: 1px solid green;
  border-radius: 10px;
  padding: 10px 10px;
}
.section {
  padding: var(--mantine-spacing-md);
  border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.icon {
  margin-right: 5px;
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-2));
}