.homePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 50px 0px ;
    position: relative;
}
.CardDiv{
    width: 100%;
    max-width: 1338px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 27px;
    padding: 10px 26px;
}
.mainHeading{
   font-size: 25px;
   font-weight: bold;
   width: 100%;
   text-align: start;
}
.floatingBtn{
    position: fixed;
    z-index: 1000;
    bottom: 100px;
    right: 30px;
    padding: 15px 25px;
    border: none;
    background-color: orangered;
    border-radius: 40px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.floatingBtn:active{
    scale: 90%;
}
@media(max-width:400px){
    .floatingBtn{
        padding: 12px 15px;
        font-size: 12px;
        border-radius: 7px;
    }
}