.manageDrPage{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    gap: 30px;
}
.mainCard{
  width: 100%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  gap: 5px;
  background-image: url("/public/Assets/b3.jpg");
  background-size: cover;
  background-position: center;
}
.mainCard .h3{
  font-size: 20px;
  font-weight: 400;
}
.h1{
  font-size: 30px;
  font-weight: bold;
}
.mainCard .p{
  width: 60%;
  font-size: 15px;
  color: rgb(58, 58, 58);
}
.mainCard button{
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  background-color: orangered;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
}
.doctors{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 20px; */
}
.inputWrapper{
  width: 100%;
  display: flex;
  gap: 10px;
}
@media(max-width:500px){
  .inputWrapper{
    width: 100%;
    flex-direction: column;
  }
}
.addDoctor{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 7px;
  border: none;
  padding: 10px 0px;
  background-color: rgb(2, 98, 243);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.addDoctor:hover{
  background-color: rgb(69, 69, 210);
}
