.mainCard{
  width: 100%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  gap: 5px;
  background-image: url("/Assets/b8.jpg");
  background-size: cover;
  background-position: center;
}
.mainCard .h3{
  font-size: 20px;
  font-weight: 400;
}
.mainCard .h1{
  font-size: 30px;
  font-weight: bold;
}
.mainCard .p{
  width: 60%;
  font-size: 15px;
  color: rgb(58, 58, 58);
}
.mainCard button{
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  background-color: orangered;
  color: white;
  font-weight: bold;
  border-radius: 7px;
}
.statsGridWrapper{
  width: 100%;
}
.wrapper2{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media(max-width:400px){
  .wrapper2{
  flex-direction: column;
  gap: 30px;
}
}