.doctorPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 70px 0px ;
}
.CardDiv{
    width: 100%;
    max-width: 1338px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 26px;
}
.mainHeading{
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainHeading h2{
   font-size: 25px;
   font-weight: bold;
  
}
.mainHeading p{
    font-size: 13px;
    padding: 5px 18px;
    background-color: rgb(250, 83, 22);
    border-radius: 20px;
    color: white;
}