.loginPage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C3C3B2;
}
.loginForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 400px;
    max-width: 750px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.711) ;
}
.formImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 20px;
}
.formContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 350px;
    padding: 20px;
}
.loginHeading{
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.thirdParty{
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.google{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    border: 1px solid gray;
    border-radius: 20px;
    gap: 6px;
    cursor: pointer;
}
.apple{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    border: 1px solid gray;
    border-radius: 20px;
    gap: 6px;
    cursor: pointer;
}
.google:hover{
    background-color: orangered;
    color: white;
}
.apple:hover{
    background-color: orangered;
    color: white;
}
.RegsiterLink{
    font-size: 12px;
    color: rgb(72, 72, 72);
    text-align: center;
}
@media(max-width:450px){
    .loginForm{
        flex-direction: column;
        gap: 30px;
    }
    .loginForm .formImage img{
        width: 200px;
        height: auto;
    }
}