.a4slip {
  width: 794px;
  margin: auto;
  background-color: white;
  font-family: Arial, sans-serif;
}

/* Wrapper handles scaling */
.slipwrapper {
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

/* Auto shrink on small screens */
@media (max-width: 820px) {
  .a4slip {
    transform: scale(1);
    transform-origin: top center;
  }
}