.pending{
    color: yellowgreen;
}
.rejected{
    color: red;
}
.approved{
    color: green;
}
.listWrapper{
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-right: 20px
}
.link{
    display: flex;
    text-decoration: none;
    color: white;
    flex-direction: column;
    justify-content: start;
    font-size: 18px;
    padding: 5px 10px 0px 10px;
    height: 50px;
    background-color: #1976D2;
    border-radius: 7px 7px 0px 0px;
}
.active{
    background-color: white;
    color: #1976D2;
}
